.navbar-content {
  .discount-heading {
    color: #fc5f03;
    font-weight: bold;
    // font-size: 25px;
  }

  .nav-title {
    text-transform: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    color: #1976d2;
    font-weight: bold;
    // color: #FC5F03; 
    font-weight: bold;
    font-size: 16px;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      outline: none;
      text-decoration: underline;
      color: #1976d2;
      font-weight: bold;
    }
  }
  .dropdown .dropdown-menu {
    min-width: "500px";
    min-height: "300px"; 
    padding: "10px";
    box-shadow: "0px 4px 10px rgba(0, 0, 0, 0.2)";
    border-radius: "8px";
    transition: "all 0.3s ease-in-out";
  }
  .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ff6600;
    color: white;
    font-weight: bold;
  }

}