.container-windows-measurements{
  padding: 50px 180px 50px 180px !important;
}
.measure-img {
  /* object-fit: cover; */
  height: 100%;
  /* max-height: 300px; */
  aspect-ratio: 3/2;
  width: 100%;
}